@import "/app/nav.scss";
@import "/app/hero.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4fcfd;
    font-family: 'Be Vietnam Pro', sans-serif;
   
}

